body{
    margin: 0;
    padding: 0;
    
}
.fondo{
    
    /* width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url("img/fondo1.jpg");
    
}
p,h1,h2,h3,h4,h5,li{
    text-align: center;
}

.centrado{
    display:block;
    margin-left: auto;
     margin-right: auto;
}

h1.blanco{
    color: white;
}
#articulos{
    width: 60%;
    height: 690px;
    float: left;
    padding-left: 20px;
    margin: 0px auto 0 px auto;
}

#temas{
    width: 35%;
    height: 690px;
    float: rigth;
}

.foot{
    background-color: aqua;
    width: 100%;

}



